/*
=========== 
Table of Content 
================*
/

/* 
  1. global styles
    1a. custom properties
    1b. utility classes

  2. typography

  3. layout
    3a. header
    3b. landing section
    3c. description sections

  4. footer
  5. 3rd party styling
*/

/*
============== 
1. global styles 
=================
*/

/* 1a. custom properties */
:root {
  /* colors */
  --clr-primary: #0000ff;
  --clr-secondary: #ff764d;
  --clr-accent-yellow: #fbffa7;
  --clr-accent-blue: #b1c5ff;
  --clr-accent-purple: #d5b3ff;
  --clr-accent-green: #b6ffc0;
  --clr-accent-grey: #eee;

  /* font weight */
  --fw-normal: 300;
  --fw-bold: 500;
}

body {
  font-family: "Futura PT", sans-serif;
}

/* 1b. utility classes */
.padding-inline {
  padding: 0 8.33333vw;
}

.padding-block {
  padding: 8.33333vw 0;
}

.margin-inline {
  margin: 0 8.33333vw;
}

.margin-block {
  margin: 8.33333vw 0;
}

.margin-bottom {
  margin-bottom: 8.33333vw;
}

.text-primary {
  color: var(--clr-primary);
}

.text-secondary {
  color: var(--clr-secondary);
}

/*
============== 
2. typography 
=================
*/

h1 {
  font-size: 2rem;
  font-weight: var(--fw-bold);
  margin-bottom: 0.7em;
}

p {
  font-size: 1.6rem;
  line-height: 1.5;
  font-weight: var(--fw-normal);
}

a {
  text-decoration: none;
}

@media screen and (min-width: 1124px) {
  h1 {
    font-size: 3rem;
  }

  p {
    font-size: 2rem;
  }
}

/*
============== 
3. layout 
=================
*/

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.container {
  flex: 1;
}

.footer {
  border-top: 2px solid var(--clr-accent-grey);
}

/* 3a. header */

.header {
  position: relative;
  z-index: 30;
}

.main-nav,
.mobile-nav,
.mobile-nav__links-section,
.main-nav__links-section,
.main-nav__list,
.sub-nav__list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.main-nav {
  padding: 2rem 4rem;
  font-weight: var(--fw-normal);
}

.mobile-nav,
.sub-nav {
  padding: 2rem;
  font-weight: var(--fw-normal);
}

.main-nav,
.mobile-nav {
  justify-content: space-between;
  border-bottom: 2px solid var(--clr-accent-grey);
  font-size: 2rem;
}

.mobile-logo,
.logo {
  margin-right: 3.2rem;
  height: 2.8rem;
}

.mobile-nav__logo,
.main-nav__logo {
  width: 6rem;
  height: 2.8rem;
}

/* main nav */

.main-nav {
  display: none;
}

.main-nav__list .main-nav__list-item:first-of-type {
  padding-right: 1rem;
  margin-right: 1rem;
}

.main-nav__list-item + .main-nav__list-item {
  padding: 0 1rem;
  margin: 0 1rem;
}

.icon-link {
  display: flex;
  align-items: center;
}

.icon-link i {
  font-size: 1.2rem;
  padding-left: 0.7em;
}

.icon-link .fa-minus {
  display: none;
}

.header.open .icon-link .fa-minus {
  display: inline;
}

.header.open .icon-link .fa-plus {
  display: none;
}

.main-nav__ctas .main-nav__list-item:first-of-type {
  padding-right: 0;
  margin-right: 1rem;
}

.main-nav__ctas .main-nav__list-item:last-of-type {
  font-size: 1.6rem;
  padding-right: 0;
  margin-right: 0;
}

/* mega menu */

.header .mega-menu {
  display: none;
}

.header.open .mega-menu {
  display: block;
}

.row {
  margin: 4.16667vw 0;
}
.list__title {
  font-size: 3rem;
  padding-bottom: 0.3em;
}
.mega-menu__list {
  display: flex;
  font-weight: var(--fw-normal);
}

.mega-menu__list-item:first-child {
  padding-right: 1rem;
  margin-right: 1rem;
}

.mega-menu__list-item:last-child {
  padding-left: 1rem;
  margin-left: 1rem;
}

.mega-menu__list-item + .mega-menu__list-item:not(:last-child) {
  padding: 0 1rem;
  margin: 0 1rem;
}

/* sub nav */
.sub-nav {
  font-size: 1.6rem;
}

.sub-nav__list .sub-nav__list-item:first-of-type {
  padding-right: 1rem;
  margin-right: 1rem;
}

.sub-nav__list-item + .sub-nav__list-item {
  padding: 0 1rem;
  margin: 0 1rem;
}

/* mobile nav */

.mobile__text-small {
  font-size: 1.4rem;
  font-weight: var(--fw-normal);
}

.mobile-nav__links-section {
  position: relative;
  z-index: 25;
}

.mobile-nav__expanded-links {
  width: 100%;
  min-height: 100vh;
  background-color: var(--clr-primary);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 20;
  padding: 7rem 2rem 0;
  font-size: 2rem;
  font-weight: var(--fw-bold);
  color: #fff;

  transform: translateY(-100%);
  transition: transform ease-in 250ms;
}

.is-expanded {
  color: #fff;
}

.is-expanded .mobile-nav__logo g {
  fill: #fff;
}

.is-expanded .mobile-nav__expanded-links {
  transform: translateX(0);
}

.is-expanded .mobile-icon {
  transform: rotateX(180deg);
}

.mobile-nav__expanded-link-info:not(:last-of-type) {
  margin-bottom: 3rem;
}

.mobile-nav__expanded-link-info:last-of-type {
  position: relative;
}

.mobile-nav__expanded-link__list-item {
  margin-bottom: 1em;
}

.mobile-nav__expanded-link {
  display: block;
}

.resources {
  display: flex;
  /* gap: 1em; */
  font-size: 1.6rem;
  font-weight: var(--fw-normal);
  overflow-x: auto;
}

.resources > * {
  flex-basis: 100%;
}

.resources .mobile-nav__expanded-link__list-item {
  min-width: 12em;
}

.resources
  .mobile-nav__expanded-link__list-item
  + .mobile-nav__expanded-link__list-item:not(:last-of-type) {
  margin: 0 2rem;
}

.resources .mobile-nav__expanded-link__list-item:last-of-type {
  margin-right: -2rem;
}

.resources::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 2rem;
  width: 4rem;
  background-image: linear-gradient(90deg, rgba(0, 0, 255, 0), blue);
}

@media screen and (min-width: 1280px) {
  .sub-nav {
    font-size: 1.4rem;
  }

  .main-nav__ctas .main-nav__list-item:last-of-type {
    font-size: 1.4rem;
  }
}

@media screen and (min-width: 1024px) {
  .mobile-nav {
    display: none;
  }

  .main-nav {
    display: flex;
  }

  .sub-nav {
    padding: 2rem 4rem;
  }
}

/* 3b. landing section */

/* .header:has(.sub-nav.sticky) + .main {
  padding-top: 62.4px;
} */
.sticky-padding {
  padding-top: 62.4px;
}

.landing__image {
  background-image: url(https://ableton-production.imgix.net/about/header.jpg?fit=crop&auto=format&fm=jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh + 3rem);
}

.landing__logo {
  width: 21.5rem;
  height: 5.2rem;
}

@media screen and (min-width: 768px) {
  .landing__logo {
    width: 43rem;
    height: 10.4rem;
  }
}

/* 3c. description sections */

.description-media {
  position: relative;
}

.image-small {
  width: 33.33333vw;
  height: 25vw;
}

.image-medium {
  width: 41.66667vw;
  height: 41.66667vw;
}

.description__image {
  position: absolute;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.single-media-item {
  width: 100%;
}

/* description section | one */

.description-one .image-medium {
  left: 8.33333vw;
}

.description-one .image-small {
  right: 8.33333vw;
}

.background-right {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.background-right > .description-media__background {
  background-color: var(--clr-accent-yellow);
  width: 58.33333vw;
  height: 58.33333vw;
}

/* description section | two */
.description__media-caption {
  font-size: 1.4rem;
  margin-top: 0.5em;
}

@media screen and (min-width: 768px) {
  .description-two .single-media-item {
    width: 66.66667vw;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
  }
}

/* description section | three */
.description-three .image-small {
  left: 8.33333vw;
}

.description-three .image-small:first-of-type {
  top: 8.33333vw;
}

.description-three .image-small:last-of-type {
  bottom: 8.33333vw;
}

.description-three .image-medium {
  right: 8.33333vw;
  top: 16vw;
}

.background-left {
  display: flex;
}

.background-left > .description-media__background {
  background-color: var(--clr-accent-green);
  width: 58.33333vw;
  height: 75vw;
}

/* description section | four */
.single-media-item > .description__image {
  position: static;
  width: 100%;
}

/* description section | five */
.description-five .description__intro:first-of-type {
  margin-bottom: 1em;
}

.background-middle {
  display: flex;
  justify-content: center;
  align-items: center;
}

.background-middle > .description-media__background {
  background-color: var(--clr-accent-purple);
  width: 66.66667vw;
  height: 58.33333vw;
}

.background-middle .image-small {
  left: 8.33333vw;
}

.background-middle .image-medium {
  right: 0;
}

/* description section | six | job teaser */

.job-teaser {
  display: flex;
  flex-direction: column;
  position: static;
}

.job-teaser .description__image {
  position: static;
  background-image: url(https://ableton-production.imgix.net/about/photo-8.jpg?crop=right&dpr=2&fit=crop&h=204&ixjsv=1.1.3&q=50&w=339);
  background-position: center;
  background-repeat: no-repeat;
  /* width: auto; */
  height: 50vw;
}

.job-teaser .description-media__background {
  background-color: var(--clr-accent-blue);
  padding: 8.33333vw;
}

.job-link {
  color: var(--clr-primary);
  display: block;
  margin-top: 1em;
  width: max-content;
}

.job-link::after,
.footer__link::after {
  content: "\00a0›";
}

@media screen and (min-width: 1280px) {
  .job-teaser {
    flex-direction: row;
  }

  .job-teaser > * {
    width: 41.66667vw;
  }

  .job-teaser .description__image {
    height: 50vw;
    background-image: url(https://ableton-production.imgix.net/about/photo-8.jpg?crop=right&dpr=2&fit=crop&h=640&ixjsv=1.1.3&q=50&w=533);
    background-position: center;
    background-repeat: no-repeat;
  }

  .job-teaser .description-media__background {
    height: 41.66667vw;
  }
}

@media screen and (min-width: 768px) {
  .description-text {
    width: 66.66667vw;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
  }
}

/*
============== 
4. footer 
=================
*/

.footer {
  padding: 8.33333vw;
}

.main-footer {
  padding-bottom: 4.16667vw;
}

.footer__logo {
  width: 122px;
  height: auto;
}

.footer__info-container {
  display: flex;
  flex-direction: column;
  gap: 8.33333vw;
}

.footer__info {
  font-size: 1.6rem;
}

.newsletter-signup {
  order: -1;
}

.education {
  order: 2;
}

.newsletter-signup form {
  display: flex;
}

.newsletter-signup input[type="email"] {
  border: none;
  background-color: var(--clr-accent-grey);
  padding: 0.8rem 1rem;
  font-weight: var(--fw-normal);
  flex-basis: 70%;
}

.newsletter-signup input[type="submit"] {
  border: none;
  background-color: var(--clr-primary);
  color: #fff;
  padding: 0.8rem 1rem;
  font-weight: var(--fw-normal);
  flex-basis: 30%;
}

.footer__link {
  font-weight: var(--fw-normal);
  line-height: 1.6;
}

.footer__info-text {
  margin-bottom: 1em;
}

.footer__social-list {
  display: flex;
}

.footer__social-list-item {
  padding: 1rem 1rem 0 0;
}

.footer__social-link svg {
  width: 3.2rem;
  height: 3.2rem;
}

.facebook {
  background-color: #3477f2;
}

.twitter {
  background-color: #1da1f2;
}

.youtube {
  background-color: #ff001d;
}

.instagram {
  background-color: #f77737;
}

.language-and-location {
  margin-top: 0.7em;
  display: flex;
  flex-wrap: wrap;
  max-width: 400px;
}

.language,
.location {
  border: 0;
  background-color: var(--clr-accent-grey);
  appearance: none;
  font-size: 1.4rem;
  padding: 0.4rem 1rem;
  background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9Im5vIj8+PHN2ZyB3aWR0aD0iOHB4IiBoZWlnaHQ9IjZweCIgdmlld0JveD0iMCAwIDggNiIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB4bWxuczpza2V0Y2g9Imh0dHA6Ly93d3cuYm9oZW1pYW5jb2RpbmcuY29tL3NrZXRjaC9ucyI+ICAgICAgICA8dGl0bGU+UGF0aCAxPC90aXRsZT4gICAgPGRlc2M+Q3JlYXRlZCB3aXRoIFNrZXRjaC48L2Rlc2M+ICAgIDxkZWZzPjwvZGVmcz4gICAgPGcgaWQ9IlBhZ2UtMSIgc3Ryb2tlPSJub25lIiBzdHJva2Utd2lkdGg9IjEiIGZpbGw9Im5vbmUiIGZpbGwtcnVsZT0iZXZlbm9kZCIgc2tldGNoOnR5cGU9Ik1TUGFnZSI+ICAgICAgICA8ZyBpZD0iQXJ0Ym9hcmQtMSIgc2tldGNoOnR5cGU9Ik1TQXJ0Ym9hcmRHcm91cCIgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoMC4wMDAwMDAsIC0yLjAwMDAwMCkiIGZpbGw9IiMwMDAwMDAiPiAgICAgICAgICAgIDxwYXRoIGQ9Ik0tNS4wNjU2NDEwNmUtMDgsMiBMMy45OTk5OTk5Nyw3Ljk5OTk5OTk2IEw4LDIgTC01LjA2NTY0MTA2ZS0wOCwyIFoiIGlkPSJQYXRoLTEiIHNrZXRjaDp0eXBlPSJNU1NoYXBlR3JvdXAiPjwvcGF0aD4gICAgICAgIDwvZz4gICAgPC9nPjwvc3ZnPg==);
  background-repeat: no-repeat;
  background-position: 90% 50%;
}

.language {
  flex-basis: 40%;
  margin-right: 0.3em;
}

.location {
  flex-basis: 60%;
}

@media screen and (min-width: 394px) {
  .language-and-location {
    flex-wrap: nowrap;
    flex-direction: row;
  }
}

.sub-footer {
  display: flex;
  flex-direction: column;

  font-size: 1.4rem;
  font-weight: var(--fw-normal);
}

.sub-footer__list {
  display: flex;
  flex-direction: column;
}

.sub-footer__list:first-of-type {
  padding-bottom: 8.33333vw;
}

.sub-footer__list-item {
  margin-bottom: 0.5em;
  margin-right: 1em;
}

.copyright {
  flex-direction: row;
}

.copyright > .sub-footer__list-item:first-of-type {
  order: 2;
}

@media screen and (min-width: 1280px) {
  .footer__info {
    font-size: 2rem;
  }

  .footer__info-title {
    font-weight: 500;
  }
}

@media screen and (min-width: 1024px) {
  .footer__logo {
    width: 188px;
    margin-bottom: 4.16667vw;
  }

  .footer__info-container {
    flex-direction: row;
    gap: 0;
    margin-bottom: 4.16667vw;
  }

  .footer__info-container > * {
    flex-basis: 30%;
  }

  .footer__info-container > *:last-child {
    flex-basis: 40%;
  }

  .newsletter-signup {
    order: 3;
  }

  .education {
    order: 2;
  }

  /* footer socials */

  .footer__social-link svg {
    width: 4rem;
    height: 4rem;
  }

  /* sub footer */
  .sub-footer {
    flex-direction: row;
    justify-content: space-between;
  }

  .sub-footer__list {
    flex-direction: row;
  }

  .sub-footer__list:first-of-type {
    padding-bottom: 0;
  }

  .copyright > .sub-footer__list-item:first-of-type {
    order: 0;
  }
}

/*
============== 
5. 3rd party styling 
=================
*/
/* 
.header--fixed {
  position: absolute;
  top: 0;
  width: 100%;
  background-color: #fffffff2;
}
.header--fixed.top {
  transition: none;
  transform: translateY(0);
  margin-top: 70px;
}
.header--fixed.not-top {
  position: fixed;
  transform: translateY(-100%);
}
.header--fixed.slideDown.not-top {
  transition: transform 0.3s ease-in-out;
  transform: translateY(0);
}
.header--fixed.slideDown.top {
  transition: transform 0.3s ease-in-out;
  position: fixed;
}
.header--fixed.slideUp.not-top {
  transition: transform 0.3s ease-in-out;
  transform: translateY(-100%);
}
.header--fixed.slideUp.top {
  transform: translateY(-100%);
  position: absolute;
} */

.header .sub-nav {
  position: relative;
  background-color: #fffffff2;
  transform: translateY(0%);
  transition: transform 0.25s ease-in-out;
}

.header.headroom--not-top.headroom--pinned .sub-nav {
  transform: translateY(0%);
}

.header.headroom--not-top.headroom--unpinned {
  transform: translateY(-100%);
}

.header.headroom--not-top + .main {
  padding-top: 59.6px;
}

.headroom--not-top .sub-nav {
  position: fixed;
  top: 0;
  width: 100%;
}
